@import url('../styles/padrao.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h2 {
    text-transform: uppercase;
    font-weight: 500;
}

section {
    margin-top: 80px;
}

.ctn-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 50px;
    background-color: var(--cor-primaria-background);
    color: var(--cor-primaria);
    position: fixed;

}

.ctn-header > span {
    font-size: 32px;


}

.cnt-menu {
    display: flex;
    gap: 1rem;
    font-size: 22px;
}

.cnt-menu a {
    text-decoration: none;
    color: var(--cor-primaria);
    transition: 0.5s;
}

.cnt-menu a:hover {
    color: #c6c6c6;
}


.ctn-coffe {
    background-image: url(../assets/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ctn-coffe h2 {
    color: var(--cor-primaria);
    font-size: 72px;
}

.ctn-coffe p {
    color: var(--cor-primaria);
    font-size: 22px;
}

.btn {
    padding: 10px 50px;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: 0.6s;
  
}

.btn:hover{
    background-color: var(--cor-primaria);
    color: var(--cor-primaria-background);
    cursor: pointer;
}

.ctn-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 30%;
    padding: 0 1rem;
    text-align: center;
}

.ctn-hist {
    display: flex;
    height: 500px;
}

.box-img {
    background-image: url(../assets/history.jpg);
    background-position: center;
    background-size: cover;
}

.box-img, .box-text {
    width: 50%;
}


.box-text {
    background-color: #432d29;
    padding: 50px;
}

.box-text h2, .box-text p {
    margin-bottom: 20px;
}

.btn-dark {
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria-background);
    color: var(--cor-primaria-background);
    transition: 0.6s;
}

.btn-dark:hover {
    background-color: var(--cor-primaria-background);
    color: var(--cor-primaria);
}

.contact {
    width: 600px;
    margin: 0 auto; 
    padding: 50px;
}

.contact h2 {
    text-align: center;
}

.contact span {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.contact input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.contact textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}


footer {
    background-color: var(--cor-primaria-background);
    text-align: center;
    color: var(--cor-primaria);
    padding: 20px 0;
}